@using P4ViewProject.Models;

@model P4ViewProject.Controllers.ViewDataViewModel
@{
    var result = "";
    Array userData = null;
    char[] delimiterChar = { ',' };
    var dataFile = Server.MapPath("~/App_Data/UploadedFiles/" + @Model.Filename);
    if (File.Exists(dataFile))
    {
        userData = File.ReadAllLines(dataFile);

        if (userData.Length < 1)
        {
            //empty file
            result = "The file is empty.";
        }
    }
    else
    {
        //File does not exist.
        result = "The file does not exist.";
    }
}

@*
    The first Row of the each csv table can be table header and organize this one,
*@

    <div class="container">
    <div class="panel panel-primary">

        <div class="panel-heading">@Model.Filename</div>
        <table class="table">
            @{bool headerLine = true; }
            @foreach (string dataLine in userData)
            {
                <tr>

                    @foreach (string dataItem in dataLine.Split(delimiterChar))
                    {
                        if (headerLine)
                        {
                            <th>
                                @dataItem
                            </th>
                        }
                        else
                        {
                            <td>
                                @dataItem
                            </td>
                        }
                    }
                    @{headerLine = false;}
                </tr>
            }

        </table>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>

